// 颜色
$--color-primary: #2ab1e8 !default;
$--color-success: #35d1ce !default;
$--color-danger: #f64f61 !default;
$--color-warning: #f1a55a !default;

$--color-menu: #1e1e1e !default;
$--color-icon: #d2d2d2 !default;

$--color-bg: #f8f9fb !default;
$--color-white: #fff !default;

// $--color-fuiou: #4e9cfc !default;
$--color-fuiou: #cccccc !default;
$--color-gray-9: #999999 !default;
$--color-gray-6: #666666 !default;
$--color-gray-3: #333333 !default;
$--color-gray-b: #bbbbbb !default;
$--color-gray-c: #cccccc !default;
$--color-gray-d: #dddddd !default;
$--color-gray-e: #eeeeee !default;
$--color-gray-fa: #fafafa !default;
$--color-gray-f8: #f8f8f8 !default;
$--color-gray-f7: #f7f7f7 !default;

$--color-placeholder: #c2c2c2 !default;
