/******字体大小变量******/
$--text-44: 44px;
$--text-40: 40px;
$--text-38: 38px;
$--text-36: 36px;
$--text-30: 30px;
$--text-28: 28px;
$--text-26: 26px;
$--text-24: 24px;
$--text-20: 20px;
$--text-18: 18px;
$--text-16: 16px;
$--text-14: 14px;
$--text-12: 12px;
$--text-10: 10px;

/*的层级有3个值，1,1000，和2000*/
$index: -1;    
$index-10: 10;    
$index-1500: 1500; 
$index-3000: 3000; 
